@import "styles/variables";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $lighter;
  border-bottom: 1px solid $light;
  width: 100%;
  height: 4rem;
  background-color: $blue;
}

.sitename {
  color: $dark;
  font-size: 1.5rem;
  font-weight: 400;
}
